name: CI

on:
  push:
    branches: [ main, master, develop, dev, stage ]
  pull_request:

permissions:
  contents: read
  actions: read

jobs:
  format:
    uses: PANiXiDA-Infrastructure/ci-cd/.github/workflows/dotnet-format.yml@main
    with:
      project_folder: .
    secrets:
      GH_TOKEN: ${{ secrets.CI_TEMPLATES_TOKEN }}
