name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  format:
    uses: PANiXiDA-Infrastructure/ci-cd/.github/workflows/dotnet-format.yml@main

  tests:
    uses: PANiXiDA-Infrastructure/ci-cd/.github/workflows/dotnet-tests.yml@main
    with:
      coverage_assembly_filters: "+DataGenerator*;-*Tests*"
      coverage_threshold: "100"
